<?xml version="1.0"?>
<phpunit
	bootstrap="touchstone-tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Unit-dev">
			<directory suffix="Test.php">touchstone-tests/Unit/</directory>
		</testsuite>
		<testsuite name="Integration-dev">
			<directory suffix="Test.php">touchstone-tests/Integration/</directory>
		</testsuite>
		<testsuite name="Unit-dev">
			<directory suffix="Test.php">../../../tests/Unit/</directory>
		</testsuite>
		<testsuite name="Integration-dev">
			<directory suffix="Test.php">../../../tests/Integration/</directory>
		</testsuite>
	</testsuites>
</phpunit>
