<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration/</directory>
        </testsuite>
    </testsuites>
</phpunit>
